html {
    scroll-behavior: smooth;
}
/* header styling starts here */
header {
    background-color: #244855;
    border-radius: 10px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 4px 6px rgba(154, 5, 5, 0.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#navbarlogodiv {
    display: flex;
    align-items: center;
    margin: 10px;
}
#navbarlogodiv img {
    margin-right: 10px;
    height: 60px;
    border-radius: 60px;
    
}
#navbarlogodiv h5{
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
}
.navsec ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navsec li {
    margin: 0 15px;
}
.navsec li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/* hero section starts here */
.herostyle {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ01J6pqRJiBz60JEHyuAB_4G6ZYDSsHc2s2A&s);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.herostyle p {
    color: rgb(16, 16, 84);
    font-size: 3rem; 
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.slidetext {
    animation: slideIn 1.5s ease-in-out;
    color: rgb(16, 16, 84);
    font-size: 3rem; 
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
/* About starts here */
.eg {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    text-align: center;
    background: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
h5 {
    font-size: 15px;
    margin-bottom: 30px;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.aboutsec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.aboutsec1 {
    flex: 1;
    padding: 40px; 
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    font-family: 'Arial', sans-serif;
    text-align: left;
    width: 100%;
}

.aboutsec2 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.aboutsec2 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

